<header class="site-header">
      <a class="logo" href="{{BASE}}index.html"><span class="logo-slot" data-slot="logo">[LOGO]</span></a>
      <nav class="site-nav">
        <a href="{{BASE}}index.html">Home</a>
        <a href="{{BASE}}applications/index.html">applications</a>
        <a href="{{BASE}}company/index.html">company</a>
        <a href="{{BASE}}contact-us/index.html">contact us</a>
        <a href="{{BASE}}faq/index.html">faq</a>
        <a href="{{BASE}}guides/hire-appointment-setters/index.html">guides/hire appointment setters</a>
        <a href="{{BASE}}guides/hire-bookkeepers/index.html">guides/hire bookkeepers</a>
        <a href="{{BASE}}guides/hire-content-writers/index.html">guides/hire content writers</a>
        <a href="{{BASE}}guides/hire-customer-support-specialists/index.html">guides/hire customer support specialists</a>
        <a href="{{BASE}}guides/hire-data-entry-specialists/index.html">guides/hire data entry specialists</a>
        <a href="{{BASE}}guides/hire-digital-marketers/index.html">guides/hire digital marketers</a>
        <a href="{{BASE}}guides/hire-ecommerce-virtual-assistants/index.html">guides/hire ecommerce virtual assistants</a>
        <a href="{{BASE}}guides/hire-graphic-designers/index.html">guides/hire graphic designers</a>
        <a href="{{BASE}}guides/hire-lead-generation-specialists/index.html">guides/hire lead generation specialists</a>
        <a href="{{BASE}}guides/hire-project-managers/index.html">guides/hire project managers</a>
        <a href="{{BASE}}guides/hire-react-developers/index.html">guides/hire react developers</a>
        <a href="{{BASE}}guides/hire-remote-developers/index.html">guides/hire remote developers</a>
        <a href="{{BASE}}guides/hire-seo-specialists/index.html">guides/hire seo specialists</a>
        <a href="{{BASE}}guides/hire-shopify-developers/index.html">guides/hire shopify developers</a>
        <a href="{{BASE}}guides/hire-social-media-managers/index.html">guides/hire social media managers</a>
        <a href="{{BASE}}guides/hire-ui-ux-designers/index.html">guides/hire ui ux designers</a>
        <a href="{{BASE}}guides/hire-video-editors/index.html">guides/hire video editors</a>
        <a href="{{BASE}}guides/hire-virtual-assistants/index.html">guides/hire virtual assistants</a>
        <a href="{{BASE}}guides/hire-wordpress-developers/index.html">guides/hire wordpress developers</a>
        <a href="{{BASE}}guides/remote-staffing-guide/index.html">guides/remote staffing guide</a>
        <a href="{{BASE}}how-it-works/index.html">how it works</a>
        <a href="{{BASE}}investors/index.html">investors</a>
        <a href="{{BASE}}job-seekers/index.html">job seekers</a>
        <a href="{{BASE}}our-promise/index.html">our promise</a>
        <a href="{{BASE}}talent/digimarkom-305/index.html">talent/digimarkom 305</a>
        <a href="{{BASE}}talent/eduwa-osa-8f2b6/index.html">talent/eduwa osa 8f2b6</a>
        <a href="{{BASE}}talent/emmanuel-omunizua-306/index.html">talent/emmanuel omunizua 306</a>
        <a href="{{BASE}}talent/hasnain-zia-307/index.html">talent/hasnain zia 307</a>
        <a href="{{BASE}}talent/hassan-302/index.html">talent/hassan 302</a>
        <a href="{{BASE}}talent/henrique-leite-77/index.html">talent/henrique leite 77</a>
        <a href="{{BASE}}talent/muhammad-hassan-303/index.html">talent/muhammad hassan 303</a>
        <a href="{{BASE}}talent/muhammad-jamshed-qamar-722f1/index.html">talent/muhammad jamshed qamar 722f1</a>
        <a href="{{BASE}}talent/muhammad-waleed-asaf-308/index.html">talent/muhammad waleed asaf 308</a>
        <a href="{{BASE}}vacancies/index.html">vacancies</a>
        <a href="{{BASE}}why-choose-us/index.html">why choose us</a>
      </nav>
    </header>